body{
  color: #3b3b3b;
  background: #333;
  /*background: url('../images/starwars.jpg') no-repeat;*/
}
.planetBorder{
  border:solid 1px #ddd;
  padding: 20px;
  margin-bottom:30px;
  background: rgba(255,255,255,0.8);
}
.makeWhite{
  color:#fff;
}
.pointer{
  cursor: pointer;
}
.pad15{
  padding: 15px
}
.bg-login{
  background: rgba(255,255,255,0.8);
}
.m-l-2{
      margin-left: -2px;
}